%html

  %head
    %link(rel="stylesheet"){:href => url("/styles.css")}
    %meta(http-equiv="refresh" content="60")

  %body

    %h1
      %a{:href => browse_url(@plan)}
        = @description

    .row
      - @results.each do |result|
        .panel
          .build.result{:class => result.status}
            .label
              %a{:href => browse_url(result.key)} ##{result.number}
          - if result.started_at
            .timestamp
              started
              %b= format_timestamp(result.started_at)
              .reason= result.reason
          - result.stages.each do |stage|
            .stage.result{:class => stage.status}
              .label= stage.name
          - if result.finished_at
            .timestamp
              finished
              %b= format_timestamp(result.finished_at)
