%html

  %head
    %link(rel="stylesheet"){:href => url("/styles.css")}
    %meta(http-equiv="refresh" content="60")

  %body

    .overlay

    %h1= @plan

    .row
      - @results.each do |result|
        .panel
          .build.result{:class => result.status}
            .label ##{result.number}
          - if result.started_at
            .timestamp started #{result.started_at.strftime("%a %T")}
          - result.stages.each do |stage|
            .stage.result{:class => stage.status}
              .label= stage.name
          - if result.finished_at
            .timestamp finished #{result.finished_at.strftime("%a %T")}
